:root {
  --white: #ffffff;
  --grey-900: #48556a;
  --grey-500: #6e8098;
  --grey-400: #9daec2;
  --grey-200: #ecf2f8;

  --txt-1b: normal 700 20px/1.3 "Manrope", sans-serif;
  --txt-2m: normal 500 13px/1.4 "Manrope", sans-serif;
  --txt-2b: normal 700 13px/1.4 "Manrope", sans-serif;
  --txt-3: normal 400 13px/1.4 "Manrope", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--grey-200);
}

/* MOBILE-FIRST WORKFLOW  */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20.4375rem;
  height: 33.625rem;
  gap: 2rem;
  padding-bottom: 1rem;
  border-radius: 0.625rem;
  background-color: var(--white);
  box-shadow: 0 2.5rem 2.5rem rgba(201, 213, 225, 0.5034);
  position: relative;
}

.div-img {
  width: 100%;
  height: 12.5rem;
}

.container .bitmap {
  width: 100%;
  height: 12.5rem;
  border-radius: 0.625rem 0.625rem 0 0;
}

.content {
  display: flex;
  flex-direction: column;
  width: 16.6875rem;
  height: 18rem;
  gap: 3rem;
}

.text-block h1 {
  font: var(--txt-1b);
  color: var(--grey-900);
  letter-spacing: 0.0156rem;
}

.text-block p {
  margin-block-start: 1.5rem;
  font: var(--txt-2m);
  color: var(--grey-500);
  letter-spacing: 0.0075rem;
}

.button-group {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile .avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.nm-date {
  width: 7.125rem;
}

.nm-date h2 {
  font: var(--txt-2b);
  color: var(--grey-900);
}

.nm-date p {
  font: var(--txt-2m);
  color: var(--grey-400);
}

.btn-share {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--grey-200);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.icono-share {
  fill: var(--grey-500);
}

/* SHARE TOAST */

.menu-share {
  width: 20.4375rem;
  height: 4.875rem;
  align-items: center;
  border-radius: 0 0 0.625rem 0.625rem;
  padding: 1rem 2rem;
  justify-content: space-between;
  background-color: var(--grey-900);
  position: absolute;
  bottom: 0;
}

.frame {
  display: flex;
  gap: 1.5rem;
  width: 10.6875rem;
  height: 1.25rem;
}

.frame p {
  text-transform: uppercase;
  font: var(--txt-3);
  color: var(--grey-400);
  letter-spacing: 0.125rem;
}

.menu {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.menu img {
  width: 1.25rem;
  display: block;
}

/* TABLET LAYOUT */

@media (min-width: 47.5rem) {
  .container {
    flex-direction: row;
    align-items: center;
    width: 38rem;
    height: 21.625rem;
    padding-bottom: 0;
  }

  .div-img {
    width: 14.3125rem;
    height: 21.625rem;
    overflow: hidden;
  }

  .container .bitmap {
    width: 17.4375rem;
    height: 100%;
    border-radius: 10px 0 0 0.625rem;
  }

  .content {
    margin: 2.5625rem 2.25rem 2.5625rem 0;
    width: 19.4375rem;
    height: 16.5rem;
    gap: 1.5rem;
  }

  /* SHARE TOAST */

  .button-group {
    gap: 6.5rem;
  }

  .menu-share {
    width: 15.5rem;
    height: 3.4375rem;
    align-items: center;
    border-radius: 0.625rem;
    padding: 1rem 2rem;
    justify-content: center;
    background-color: var(--grey-900);
    position: absolute;
    left: 26.875rem;
    bottom: 6.5625rem;
    filter: drop-shadow(0 0.5rem 0.1875rem rgba(201, 213, 225, 0.6));
  }

  .menu-share::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 0.75rem solid transparent;
    border-right: 0.75rem solid transparent;
    border-top: 0.7188rem solid var(--grey-900);
    top: 3.4375rem;
    left: 6.875rem;
  }
}

/* DESKTOP LAYOUT */

@media (min-width: 87.5rem) {
  .container {
    width: 45.625rem;
    height: 17.5rem;
    gap: 2.5rem;
  }

  .div-img {
    width: 17.8125rem;
    height: 17.5rem;
    overflow: hidden;
  }

  .container .bitmap {
    width: 21.875rem;
  }

  .content {
    margin: 1.875rem 2.5rem 1.875rem 0;
    width: 22.8125rem;
    height: 13.75rem;
  }

  /* SHARE TOAST */

  .button-group {
    gap: 10rem;
  }

  .menu-share {
    left: 34.5625rem;
    bottom: 5.9375rem;
  }
}

/* SECCION FOOTER */

.attribution-list {
  display: flex;
  margin-block-start: 0.625rem;
  font: var(--txt-2b);
  font-size: clamp(0.69rem, calc(0.619rem + 0.293vw), 0.88rem);
  color: var(--grey-500);
  list-style: none;
  gap: .3125rem;

}
.attribution-list a {
  color: var(--grey-900);
}
