:root {
  --white: #ffffff;
  --grey-900: #48556a;
  --grey-500: #6e8098;
  --grey-400: #9daec2;
  --grey-200: #ecf2f8;

  --txt-1b: normal 700 20px/1.3 "Manrope", sans-serif;
  --txt-2m: normal 500 13px/1.4 "Manrope", sans-serif;
  --txt-2b: normal 700 13px/1.4 "Manrope", sans-serif;
  --txt-3: normal 400 13px/1.4 "Manrope", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid; */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--grey-200);
}

/* MOBILE-FIRST WORKFLOW  */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  height: 538px;
  gap: 2rem;
  padding-bottom: 16px;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: 0 40px 40px rgba(201, 213, 225, 0.5034);

  position: relative;
}

.div-img {
  width: 100%;
  height: 200px;
}

.container .bitmap {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.content {
  display: flex;
  flex-direction: column;
  width: 267px;
  height: 288px;
  gap: 3rem;
}

.text-block h1 {
  font: var(--txt-1b);
  color: var(--grey-900);
  letter-spacing: 0.25px;
}

.text-block p {
  margin-block-start: 24px;
  font: var(--txt-2m);
  color: var(--grey-500);
  letter-spacing: 0.12px;
}

.button-group {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.profile {
  display: flex;
  align-items: center;
  gap: 16px;
}

.profile .avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.nm-date {
  width: 114px;
}

.nm-date h2 {
  font: var(--txt-2b);
  color: var(--grey-900);
}

.nm-date p {
  font: var(--txt-2m);
  color: var(--grey-400);
}

#btn-share {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--grey-200);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.icono-share {
  fill: var(--grey-500);
}

/* SHARE TOAST */

.menu-share {
  width: 327px;
  height: 78px;
  align-items: center;
  border-radius: 0 0 10px 10px;
  padding: 16px 32px;
  justify-content: space-between;
  background-color: var(--grey-900);
  position: absolute;
  bottom: 0;
}

.frame {
  display: flex;
  gap: 24px;
  width: 171px;
  height: 20px;
}

.frame p {
  text-transform: uppercase;
  font: var(--txt-3);
  color: var(--grey-400);
  letter-spacing: 2px;
}

#menu {
  display: flex;
  gap: 16px;
  align-items: center;
}

#menu img {
  width: 20px;
  display: block;
}

/* TABLET LAYOUT */

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 608px;
    height: 346px;
    padding-bottom: 0;
    position: relative;
  }

  .div-img {
    width: 229px;
    height: 346px;
    overflow: hidden;
  }

  .container .bitmap {
    width: 279px;
    height: 100%;
    border-radius: 10px 0 0 10px;
  }

  .content {
    margin: 41px 36px 41px 0;
    width: 311px;
    height: 264px;
    gap: 24px;
  }

  .button-group {
    gap: 104px;
  }

  /* SHARE TOAST */

  .menu-share {
    width: 248px;
    height: 55px;
    align-items: center;
    border-radius: 10px;
    padding: 16px 32px;
    justify-content: center;
    background-color: var(--grey-900);
    position: absolute;
    left: 430px;
    bottom: 105px;
  }

  .menu-share::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 11.5px solid var(--grey-900);
    top: 55px;
    left: 110px;
  }
}
